html {
    height: 100%;
    font-family: 'Inter', sans-serif;
}

body {
    background: #fafafa;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
}


.textColor {
    color: #2a5a94;
}

#verticalbar {
    height: 40px;
    width: 5px;
    background: #2a5a94;
}

.nav-option:hover {
    background: #2a5a94;
    transition: 1s;
}

.nav-option:hover a {
    color: azure !important;
}

.nav-option:hover button {
    background: #bd2222;
    transition: 1s;
    color: azure !important;
}

.disable-option a {
    pointer-events: none;
    font-weight: bold;
    color: #99a8c2;
}

#bodyContent {
    min-height: calc(100vh - 77px)
}

.maintextColor {
    color: #1C4980;
}

.horizontalBar {
    max-width: 200px;
    height: 5px;
    background: #4052f2;
}

.extraSmallFont.active {
    border-bottom: 2px solid #6195f5
}


  