{% extends "base.html" %}
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Change Password
{% endblock title %}
{% block header %}
    {% include "navbar.html" with active_page="account" %}
{% endblock header %}
{% block content %}
    <section class=" mb-5 pb-5">
        <div class="card my-5 w-100 mx-auto width-40">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "user-account" %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           aria-current="true"
                           href="{% url "user-account-update" %}">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active disabled fw-bold textColor" href="#">Change Password</a>
                    </li>
                </ul>
            </div>
            <div class="row g-0">
                <form action="{% url "user-account-update-password" %}"
                      method="post"
                      class="form textColor p-5">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary">
                        Update Password
                    </button>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
