{% load static %}

<nav class="navbar navbar-expand-lg p-0 m-0 py-4 mb-4 border-bottom">
  <div class="container-fluid">
    <div class="d-flex align-items-center navbar-brand" id="logo">
      <a href="{% url 'index' %}" class="nav-link textColor brand d-lg-inline-block">
        <span class="h1 fw-light">Open</span>
        <span class="h1 d-lg-inline-block">Library</span>
      </a>
    </div>
    <button class="navbar-toggler mb-sm-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto gap-2" aria-current="true">
        <li>
          <span class="p-5 d-lg-none"></span>
        </li>
        <li class="nav-item">
          <div class="input-group">
            <input type="search" class="form-control rounded-0 p-2" placeholder="Search Book" aria-label="Search" />
            <button class="btn border rounded-0 input-group-text"><img class="searchImg iconCursor" src="{% static 'icons/search.svg' %}" alt="search" /></button>
          </div>
        </li>
        <li class="nav-item border {% if active_page == 'home' %} disable-option {% else %} nav-option {% endif %}">
          <a class="nav-link px-3" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item border {% if active_page == 'catalogue' %} disable-option {% else %} nav-option {% endif %}">
          <a class="nav-link px-3" href="{% url 'catalogue' %}">Catalogue</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item border-0">
            <div class="dropdown">
              <button class="btn dropdown-toggle border rounded-0 w-100 text-left py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account 
              </button>
              <ul class="dropdown-menu mt-3 w-auto">
                <li><a class="btn dropdown-item" href="{% url 'user-account' %}">Profile</a></li>
                <li><a class="btn dropdown-item" href="{% url 'user-account-update' %}">Settings</a></li>
                <li><a class="btn dropdown-item" href="{% url 'user-account-update-password' %}">Change Password</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form action="{% url 'logout' %}" method="post" class="w-100">
                    {% csrf_token %}
                    <button class="btn text-danger rounded-0 w-100 fw-bold" type="submit">Log Out</button>
                  </form>
                </li>
              </ul>
            </div>
          </li>
        {% else %}
          <li class="nav-item border {% if active_page == 'login' %} disable-option {% else %} nav-option {% endif %}">
            <a class="nav-link px-3" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item border {% if active_page == 'register' %} disable-option {% else %} nav-option {% endif %}">
            <a class="nav-link px-3" href="{% url 'register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
