{% extends "base.html" %}
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
  Add Book
{% endblock title %}
{% block header %}
  {% include "navbar.html" with active_page="add_book" %}
{% endblock header %}
{% block content %}
  <section class="mx-auto my-5 px-2 py-5 width-40">
    <div class="mb-4 py-2 border-bottom">
      <h1 class="h4 text-center pb-4 maintextColor">
        Add Book
      </h1>
      <a href="{% url 'all_books' %}" class="btn btn-sm btn-outline-secondary">View All Books</a>
    </div>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" class="btn btn-sm btn-primary">
        Save
      </button>
    </form>
  </section>
{% endblock content %}
