{% extends "base.html" %}
{% load static %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}
    Catalogue
{% endblock title %}
{% block header %}
    {% include "navbar.html" with active_page="catalogue" %}
{% endblock header %}
{% block content %}
    <div class="container my-5">
        <div class="row">
            {% if user.is_authenticated %}
                {% for option in menu_options %}
                    {% if user.is_staff or not option.staff_only %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card rounded-0 border-0 textColor">
                                <div class="card-body d-flex align-items-center btn btn-outline-primary border rounded-0"
                                     onclick="window.location.href='{% url option.url_name %}'">
                                    <i class="{{ option.icon }} h2"></i>
                                    <h4 class="ms-3">
                                        {{ option.title }}
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
