{% extends 'base.html' %}
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
  Login
{% endblock %}

{% block header %}
  {% include 'navbar.html' with active_page='login' %}
{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <form action="{%url 'logout' %}" method="post">
      <p>You are already logged in as <strong> {{ user.username }} </strong></p>
      {% csrf_token %}
      <button type="submit" class="btn btn-sm btn-danger">Logout</button>
  </form>
  {% else %}
  <form action="{% url "login" %}" method="post" class="form">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% bootstrap_button button_type='submit' content='Login' %}
    {% bootstrap_button button_type='reset' content='Clear' class="secondary" %}
    <br /> 
    <a href="{% url 'password_reset' %}">Forgot Password?</a>
  </form>
  {% endif %}
{% endblock %}
