{% extends "base.html" %}
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
  Password Change Successful
{% endblock title %}

{% block header %}
  {% include "navbar.html" with active_page="reset_password" %}
{% endblock header %}

{% block content %}
  <div class="content-center">
    <p class="text-center lead fw-bold textColor d-block">Successfully changed your password.</p>
  </div>
  <p class="text-center"><a href="{% url 'login' %}">Back to login</a></p>
{% endblock content %}
