{% extends "base.html" %}
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
  Change Password (Confirm)
{% endblock title %}

{% block header %}
  {% include "navbar.html" with active_page="reset_password" %}
{% endblock header %}

{% block content %}
  <div class="content-center">
    {% if user.is_authenticated %}
      <form action="{% url 'logout' %}" method="post">
        <p>You are already logged in as <strong> {{ user.username }} </strong></p>
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-danger">Logout</button>
    </form>
    {% else %}
    <form method="post" class="form">
      {% csrf_token %}

      {% bootstrap_form form %}

      <button class="btn btn-sm btn-primary" type="submit">Save</button>
      <button class="btn btn-sm btn-outline-secondary" type="reset">Clear</button>
      <br /> 
      <br /> 
    </form>
    {% endif %}
  </div>
{% endblock content %}

