{% extends "base.html" %}
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}
  Change Password
{% endblock title %}

{% block header %}
  {% include "navbar.html" with active_page="reset_password" %}
{% endblock header %}

{% block content %}
  <div class="content-center">
    <p class="text-center lead fw-bold textColor">We've emailed you the instruction for resetting your password.</p>
  </div>
{% endblock content %}
