{% extends 'base.html' %}
{% load static %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{%block title%}Register{%endblock%}

{% block header %}
  {% include 'navbar.html' with active_page='register' %}
{% endblock %}

{% block content %}
  <h1 class="h4 text-center border-bottom pb-4 maintextColor">
    Register as a new user
  </h1>
  <div class="content-center mb-5 py-5">
    <form action="{% url "register" %}" method="post" class="form textColor">
      {% csrf_token %}

      {% bootstrap_form form %}

      {% bootstrap_button button_type='submit' content='Register' %}
      {% bootstrap_button button_type='reset' content='Clear' %}
      <br /> 
      <br /> 
      <a href="{% url 'login'%}"> Already have an account?</a>
    </form>
  </div>
{% endblock %}

